<!DOCTYPE html>
<html>
<head>
    <title>Página del Administrador</title>
</head>
<body>
    <h1>Bienvenido, Administrador</h1>
    <!-- Contenido específico para la página del administrador -->
    <p>Aquí puedes administrar el sistema y realizar tareas de administración.</p>
    
    <!-- Botones -->
    <button onclick="location.href='/gestionar_usuarios'">Gestionar Usuarios</button>
    <button onclick="location.href='/gestionar_peliculas'">Gestionar Películas</button>
    <button onclick="location.href='/gestionar_salas'">Gestionar Salas</button>
    <button onclick="location.href='/gestionar_tarjetas'">Gestionar Tarjetas de Crédito/Debito</button>
</body>
</html>

