<!DOCTYPE html>
<html>
<head>
    <title>Gestión de Usuarios</title>
</head>
<body>
    <h1>Gestión de Usuarios</h1>
    <form method="POST" action="{% url 'cargar_xml'%}">
        {% csrf_token %}
        <button type="submit">Cargar</button>
    </form>
    <h2>Crear Usuario</h2>
    <form method="POST" action="{% url 'crear_usuario' %}">
        {% csrf_token %}
        <!-- Aquí irían los campos del formulario para crear un usuario -->
        <!-- Ejemplo: -->
        <input type="text" name="nombre" placeholder="Nombre" required>
        <input type="text" name="apellido" placeholder="Apellido" required>
        <input type="text" name="correo" placeholder="Correo" required>
        <input type="text" name="contra" placeholder="Contraseña" required>
        <input type="text" name="telefono" placeholder="Telefono" required>
        <!-- Otros campos del formulario -->
        <button type="submit">Crear</button>
    </form>

    <h2>Ver Usuarios</h2>
    <!-- Aquí iría el código para mostrar la lista de usuarios existentes -->
    <form method="POST" action="{% url 'mostrar_usuarios' %}">
        <table>
            <thead>
                <th>Rol</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Contraseña</th>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.rol }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellido }}</td>
                    <td>{{ usuario.telefono }}</td>
                    <td>{{ usuario.correo }}</td>
                    <td>{{ usuario.contrasena }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td>No existen registros</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    
    <h2>Modificar Usuario</h2>
    <form method="POST" action="{% url 'modificar_usuario' %}">
        {% csrf_token %}
        <!-- Aquí irían los campos del formulario para crear un usuario -->
        <!-- Ejemplo: -->
        <input type="text" name="nombre" placeholder="Nombre" required>
        <input type="text" name="apellido" placeholder="Apellido" required>
        <input type="text" name="rol" placeholder="Rol" required>
        <input type="text" name="correo" placeholder="Correo" required>
        <input type="text" name="contra" placeholder="Contraseña" required>
        <input type="text" name="telefono" placeholder="Telefono" required>
        <!-- Otros campos del formulario -->
        <button type="submit">Modificar</button>
    </form>

    <h2>Eliminar Usuario</h2>
    <form method="POST" action="{% url 'eliminar_usuario' %}">
        {% csrf_token %}
        <!-- Aquí irían los campos del formulario para crear un usuario -->
        <!-- Ejemplo: -->       
        <input type="text" name="correo" placeholder="Correo" required>
        <!-- Otros campos del formulario -->
        <button type="submit">Eliminar</button>
    </form>
    <form method="POST" action="{% url 'administrador'%}">
        {% csrf_token %}
        <button type="submit">Regresar</button>
    </form>    


</body>
</html>
